page-forgotten-password {
	.imgLogo{
		height: 150px;
		align-items: center;
		width: auto;
		display: block;
		margin-top:20px;
	}
	body {
	    font-family: nunito_regular !important;
	}
	ion-content{
		background-image: url("../assets/img/background.png");
		background-size: 100%;
		align-items: center;
	}

	.btnLogin{
		width: 70%;		
		background-color: #FFB514;
		border-radius: 5px;
		align-items: center;
		margin: auto;
		margin-top: 50px;
	}
	.btnBackLogin{
		width: 70%;		
		border-radius: 5px;
		align-items: center;
		margin: auto;
		margin-top: 15px;/**/
	}
	.btnBackRegister{
		width: 100%;		
		border-radius: 5px;
		align-items: center;
		margin: auto;
		margin-top: 15px;/**/
	}

	ion-item{
		background-color: transparent;
	}

	ion-segment-button{
		font-weight: bold !important;
	}

	ion-input{
		border-radius: 5px;		
	}

	button{
		background-color: #FFAF2B;
		border-color: #FFAF2B;
		color: white;
	}

	ion-label{
		color: #163a5f;
	}

	#formLogin{
		margin-top:0%;
	}

	.segmentLoginActivate{
		/*background-color: #4789FE !important;
		border-top-left-radius: 5px !important;
		border-bottom-left-radius: 5px !important;*/
		color:white !important;
	}
	.segmentRegisterActivate{
		/*
		background-color: #4789FE !important;
		border-top-right-radius: 5px !important;
		border-bottom-right-radius: 5px !important;*/
		color:white !important;
	}	
	.login-label{		
		/*text-align: center;*/
	}
	.register-label{
		margin-left: 15px !important;
		margin-bottom: 0 !important;
	}
	.termsOk{
		color: #163a5f;
	}
	.termsError{
		color: gray;
	}
	/*
	.item-md.item-input.input-has-focus .item-inner {
	  border-bottom-color: transparent !important;
	  box-shadow: none !important;
	}

	.list-md .item-input.input-has-focus:last-child {
	  border-bottom-color: transparent !important;
	  box-shadow: none !important;
	}

	.list-md .item-input.input-has-focus:last-child .item-inner {
		box-shadow: none;
	}

	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
	  border-bottom-color: transparent !important;
	  box-shadow: none !important;
	}

	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
	  border-bottom-color: transparent !important;
	  box-shadow: none !important;
	}

	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
	  	box-shadow: none;
	}

	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
	  border-bottom-color: transparent !important;
	  box-shadow: none !important;
	}

	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
	  border-bottom-color: transparent !important;
	  box-shadow: none !important;
	}
	*/

	@media all and (orientation: landscape) { 
		/*ion-content, ion-grid, ion-row { 
			background-color: white;
		} */
		ion-grid{
			margin-top: 0px;
		}
		img{
			/*position: absolute;
			
			left:42.5%;*/
			top:18px;
			width: 15%;
		}
		.rowContent{
			margin-top: 50px;
		}
	}

	@media all and (orientation: portrait) { 
		ion-grid{
			margin-top: 0px;
		}
		/*ion-row { 
			background-color: white;
		} */
		img{
			/*position: absolute;
			left:35%;*/
			top:25px;
			width: 30%;
		}
		.rowContent{
			margin-top: 35px;
		}
	}
}
