page-register {
	ion-content, ion-list, ion-grid, ion-row, ion-item{
		background-image: url("../../assets/img/background.png");
		background-size: 100%;
	}
	img{
		margin-top: 0%;
		margin-left: 30%;
		width: 40%;
	}
	ion-label{
		color: #163a5f;
	}
	#formRegister{
		margin-top:20%;
	}
	button{
		background-color: #FFAF2B;
		border-color: #FFAF2B;
		color: white;
	}
}
